*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1700px;
    margin: 0 auto;
    overflow-x: hidden;
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
    background-color: #1a0b2e;
}
.logo{
    font-size: 1.5rem;
}
.logo-gradient{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s infinite alternate;
}
.navbar{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
}
.menu{
    display: flex;
    gap: 32px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.menu a:hover{
    color: rgb(154, 161, 167);
}
.btn1{
    color: #FFFFFF;
    padding: 12px 16px;
    gap: 4px;
    border: none;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    
}
.btn1:hover{
    background: linear-gradient(135deg, #007b7b, #ecf955);
    transform: scale(1.05);
}
.ham{
    display: none;
    cursor: pointer;
    transition: 0.3s ease;
}




.choose{
    background-color: #230e3d;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 120px 200px;
}
.choose-p{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 40px;
}
.choose-container{
    max-width: 1200px;
    margin: 0 auto;
}
.choose-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(53, 17, 101, 0.4);
    border: none;
    border-radius: 40px;
    padding: 40px 40px;
    justify-content: center;
    transition:transform 0.2s ease-in-out;
}
.choose-card h3{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}
.choose-card p{
    color: rgba(255, 255, 255, 0.60);
    line-height: 1.5;
}
.choose-card img{
    width: 100%;
    max-width: 60px;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}

.choose-grid{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5"
    ;
}

.choose-card:hover{
    transform: translateY(-8px);
}



.footer{
    background-image: url("./assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 412px;
    display: flex;
    align-items: center;
}
.footer-container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 20px;
}
.footer-logo{
    font-size: 2rem;
}
.footer-icon li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-icon{
    display: flex;
    gap: 40px;
}
.footer-copyright{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
}



.feature-host{
    background-color: #1a0b2e;
    padding: 120px 200px;
}
.feature h3{
    font-size: 48px;
    color: white;
    font-weight: 900;
}
.video-container{
    display: flex;
    gap: 30px;
}
.video-card{
    background-color: #250d44;
    width: 380px;
    height: 440px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.v-d{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.video-card iframe{
    width: 100%;
    height: 214px;
}
.video-card h3{
    font-size: 24px;
    font-weight: 900;
    color: white;
}
.video-card p{
   color:  rgba(255, 255, 255, 0.60);
   line-height: 1.5;
}
.duration{
    display: flex;
    gap:8px;
}
.duration span{
    color:#00ff88;
    font-weight: 600;
}

.host{
    margin-top: 120px;
    
}
.host h3{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 40px;
}
.host-card{
    background-color: #250d44;
    width: 1200px;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
}
.host-des{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.host-des h4{
    font-size: 48px;
    color: white;
    font-weight: bold;
}
.host-des p{
    color: rgba(255, 255, 255, 0.60);
    line-height: 1.5;
}
.host-des ul{
    display: flex;
    gap: 8px;
}
.host-des li{
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.60);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width:576px){
    .menu,.nav-btn{
        display: none;
    }
    .ham{
        display: block;
    }
    .navbar{
        padding: 20px 20px;
    }
    .ham:hover{
        transform: scale(1.05);
    }


    .footer{
        background-image: url(./assets/footer-responsive-img.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 168px;
        padding: 40px 30px;
    }
    .footer-container{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    padding-bottom: 20px;
    }
    .footer-icon{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        max-width: 255px;
        margin-bottom: 15px;
    }
    .footer-logo{
        font-size: x-large;
    }
    .choose{
        padding: 40px 20px;
    }
    .choose-grid{
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        ;
    }
    .choose-card{
        width: 100%;
        max-width: 400px;
    }
    .choose-p{
        font-size: 2rem;
    }
    .feature-host{
        padding: 40px 20px;
    }
    .video-container{
        flex-direction: column;
        align-items: center;
    }
    .video-card{
        width: 100%;
        max-width: 400px;
    }
    .video-card h3{
        font-size: 20px;
    }
    .host-card{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .host-card ul{
        justify-content: center;
    }
    .host-card h4{
        font-size: 24px;
    }
}